:root {
  --branca: #fff;
  --luz: rgb(223, 167, 14);
}

body {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  background: linear-gradient(#AE7720, #E4BE4F);
  background-clip: linear-gradient(#AE7720, #E4BE4F); ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: rgb(0, 0, 0);
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: black;
  border: 4px solid  black;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}



button img{
  width: 50px;
  
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
}